<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card product-box" *ngIf="!isLoading">
    <h4 class="card-header color-text">Product List <span class="sub-text">({{cats.length}})</span></h4>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                    <th>Images</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="cats.length === 0">
                <tr>
                    <td colspan="5">There are no products in the DB. Add a new product below.</td>
                </tr>
            </tbody>
            <tbody>
                <tr *ngFor="let cat of cats">
                    <td>{{cat.name}}</td>
                    <td><img class="thumbnail" src="{{filePath}}//{{cat.files}}"></td>
                    <td>{{cat.quantity}}</td>
                    <td>{{cat.price}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card product-box">
    <h4 class="card-header color-text">Add new product</h4>
    <div class="card-block">
        <form class="form-inline" [formGroup]="addCatForm" style="text-align:center">
            <div class="form-group">
                <p-fileUpload name="myfile[]" url="api/cat/upload" accept="image/*" maxFileSize="1000000" multiple="multiple" (onUpload)="fileUpload($event)"></p-fileUpload>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" formControlName="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="quantity" [(ngModel)]="cat.quantity" formControlName="quantity" placeholder="Quantity" min="0">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="price" [(ngModel)]="cat.price" formControlName="price" placeholder="Price" step="any" min="0">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" [(ngModel)]="cat.description" formControlName="description" placeholder="Description" step="any" min="0">
            </div>
            <button *ngIf="!isEditing" class="btn btn-primary" type="button" [disabled]="!addCatForm.valid" (click)="addCat(true)"><i class="fa fa-floppy-o"></i> Add</button>
            <button *ngIf="isEditing" class="btn btn-primary" type="button" [disabled]="!addCatForm.valid" (click)="addCat(false)"><i class="fa fa-floppy-o"></i> Update</button>
        </form>
    </div>
</div>